table{
    width = 300px;
}

.red{
    background-color: red;
}

.black{
    background-color: black;
}

td{
    width: 35px;
    height: 35px;
    border: 1px;
    padding: 1px;
    border-spacing: 1px;
}











